@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

h2 {
    background-image: url(../img/zen.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
*{
    box-sizing: border-box;
    margin: 0;
}
[role=banner]{
    background-image: url('huntington.png');
    height: 300px;
    padding-top: 80px;
    text-align: center;
    width: 100%;
    color: white;
    background-size: cover;
}
header h1{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 50px;
    text-shadow: 2px 6px 3px black;
    padding-bottom: 50px;
}
h2{
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    background-image: url('zen.svg');
    background-position: 42%;
   
    padding-left: 100px;
}
*{
    line-height: 1.0cm;
}
p{
    font-family: 'IBM Plex Mono';
    font-size: 15px;
    padding: 0 100px;
}
h3{
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
}
.participation {
    background-color: rgb(89, 155, 100);
    background-image: url('bamboo.png');
   
}
.participation h3{
    padding-bottom: 0px;
}
.benefits{
    background-color: rgb(89, 155, 100);
    background-image: url('bamboo.png');
}
.benefits h3{
    padding-bottom: 0px;
}

.participation h3{
    padding-top: 0px;
}
[role=contentinfo]{
    background-color: rgb(103, 163, 113);
    text-align: center;
    background-size: cover;
    height: 175px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgb(156, 158, 156);
    padding-top: 50px;
}
[role=contentinfo] a{
    color: white;
    font-size: 35px;
    font-family: 'Satisfy', cursive;
    text-decoration: none;
}
footer {
    text-align: center;
    color: white;
    background-color: rgb(17, 53, 38);
    background-size: cover;
    height: 50px;
    padding-top: 8px;
}
footer a{
    padding-right: 25px;
    color: white;
    font-size: 30px;
    text-decoration: none;
}
 .select{
    display: none;
    
}
.archives{
    display: none;
}
.resources{
    display: none;
}

[role = navigation] ul{
    
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    list-style-type: none;
}

.design-selection [role = navigation] ul li{
    width:50%;
    background-color: #C0CAC3;
    border-top: solid 1px #d9e3dc;
    padding: 20px 77px 20px 77px;
    text-align: center;
    font-family: 'Libre baskerville', sans-serif;
}
.design-name{
    font-family: "Julius Sans One", sans-serif;    
    color: black;
    text-decoration: none;
}
.designer-name{
    font-family: 'Libre baskerville', sans-serif;
    color: #616857;
    text-decoration: none;
}

 

/* media query */ 
@media (min-width: 1000px){
    /* [role=banner]{
        background-position: center;
        background-size: 100%;
        

    } */
    
    /* [role=contentinfo]{
        background-color: rgb(103, 163, 113);
        text-align: center;
        background-size: cover;
        height: 175px;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        color: rgb(156, 158, 156);
        padding-top: 50px;
    }
    [role=contentinfo] a{
        color: white;
        font-size: 35px;
        font-family: 'Satisfy', cursive;
        text-decoration: none;
    } */
    /* h2{
        background-position: 42%;
    } */
    /* p{
        padding: 0 100px;
    } */
    /* h3{
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 100px;
        padding-right: 100px;
    } */
    /* footer {
        text-align: center;
        color: white;
        background-color: rgb(17, 53, 38);
        background-size: cover;
        height: 50px;
        padding-top: 8px;
        

    
    } */
    /* footer a{
        padding-right: 25px;
        color: white;
        font-size: 30px;
        text-decoration: none;
    }


    [role=navigation]{
        width:100%;
        display: flex;
        flex-wrap: wrap;
    } */

}

@media (min-width: 500px){
    /* [role=banner]{
        background-position: center;
        background-size: 100%;
    }
    h2{
        background-position: 42%;
    } */
}

